<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/style.css" rel="stylesheet" />
  </head>

  <body class="overflow-hidden">
    <main
      class="w-screen h-screen bg-gradient-to-br from-purple-800 to-violet-950 flex justify-center items-center"
    >
      <ul id="messages"></ul>
      <input
        class="w-32 h-32 rounded-lg shadow-lg bg-gray-300 hover:scale-105 cursor-pointer absolute bottom-10 left-10 text-4xl font-semibold z-10"
        id="brake"
        type="button"
        name="brake"
        value="Brake"
      />
      <input
        class="w-32 h-32 rounded-lg shadow-lg bg-gray-300 hover:scale-105 cursor-pointer absolute bottom-10 right-10 text-4xl font-semibold z-10"
        id="gas"
        type="button"
        name="gas"
        value="Gas"
      />
      <div
        class="w-[340px] h-[340px] border-8 border-yellow-400 absolute shadow-xl rounded-lg z-10"
      ></div>

      <div
        class="bg-gradient-to-b from-sky-600 to bg-cyan-400 absolute shadow-gray-950 shadow-2xl flex justify-center items-center rounded"
        id="drivingBox"
      ></div>
      <span
        id="sum"
        class="font-bold text-6xl text-gray-950 stroke-white stroke-2 absolute"
      ></span>

      <div
        class="w-[800px] h-[800px] border-8 border-yellow-400 absolute shadow-xl rounded-lg z-10"
      ></div>
    </main>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  var messages = document.getElementById("messages");
  var gas = document.getElementById("gas");
  var brake = document.getElementById("brake");
  var sum = document.getElementById("sum");
  var drivingBox = document.getElementById("drivingBox");
  var intervalId = null;
  var speed = 0;
  var accelerationFactor = 50;

  function increaseSpeed() {
    if (speed <= 1200) {
      speed += accelerationFactor;
      if (speed > 1200) speed = 1200; // Begrenzen Sie die Geschwindigkeit auf 200
      socket.emit("gas button has been pressed", speed);
      accelerationFactor *= 0.95;
      if (accelerationFactor < 1) accelerationFactor = 1;
    }
  }

  function decreaseSpeed() {
    if (speed > 0) {
      // Überprüfen Sie, ob die Geschwindigkeit größer als 0 ist
      speed -= accelerationFactor;
      if (speed < 0) speed = 0;
      socket.emit("brake button pressed", speed);
      accelerationFactor *= 0.95;
      if (accelerationFactor < 1) accelerationFactor = 1;
    }
  }

  function updateBoxSize(size) {
    // Nur aktualisieren, wenn die Geschwindigkeit kleiner oder gleich 200 ist
    if (speed <= 1200) {
      drivingBox.style.width = size * 1.1 + "px";
      drivingBox.style.height = size * 1.1 + "px";
    }
  }

  gas.addEventListener("mousedown", function () {
    intervalId = setInterval(increaseSpeed, 1); // Beschleunige alle 50 Millisekunden
  });

  gas.addEventListener("mouseup", function () {
    clearInterval(intervalId); // Beende das Intervall, wenn der Knopf losgelassen wird
    accelerationFactor = 50; // Setze den Beschleunigungsfaktor zurück
  });

  brake.addEventListener("mousedown", function () {
    intervalId = setInterval(decreaseSpeed, 1); // Verlangsame alle 50 Millisekunden
  });

  brake.addEventListener("mouseup", function () {
    clearInterval(intervalId); // Beende das Intervall, wenn der Knopf losgelassen wird
    accelerationFactor = 50; // Setze den Beschleunigungsfaktor zurück
  });

  socket.on("chat message", function (msg) {
    var item = document.createElement("li");
    item.textContent = msg;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  });

  socket.on("new number", function (currentSpeed) {
    speed = Math.min(Math.max(currentSpeed, 0), 1200);
    sum.textContent = Math.floor(speed / 6) + " Km/h";
    var boxSize = speed;
    updateBoxSize(boxSize);
  });

  socket.on("box", function (position) {
    steer.boxPosition = position;
  });
</script>
